spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME:banking_db_dev}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    enabled: true
    drop-first: true

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

security:
  jwt:
    access_token_expiration: 3600000 # 1 hour
    refresh_token_expiration: 604800000 # 7 days

logging:
  level:
    com.example.testtaskeffectivemobile: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    enabled: true

server:
  port: 8080